body{
	width: 100%;
	padding: 0;
	margin: 0;
	background: url(../images/background.jpg) fixed;
}

/*container*/
.container{
	width: 75%;
	margin: auto;
}

.clear{
	clear: both;
}

.click{
	text-decoration: none;
}


/*header*/
/*主圖片*/
#above{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 450px;
	background: url(../images/main_picture.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	overflow: hidden;
}


.banner_words{
	position: absolute;
	margin-left: 9%;
	width: auto;
}

h2{
	color: white;
	font-size: 50px;
}

/*Nav*/
nav{
	/*position: absolute;*/
	top: 0px;
	right: 0px;
	margin-top: 0px;
	padding-top: 25px;
}

/*nav background*/
.site-nav{
	font-family: 'RaleWay', sans-serif;
	width: 100%;
	height: 45px;
	background-color: black;
/*	background: rgba(180, 100, 90, 1);*/
}

/*position*/
ul{
	margin: 0;
}

li{
	float: right;
	list-style: none;
	margin: 0 0px;
	padding: 0;
}

/*words*/
.site-nav a{
	text-decoration: none;
	font-family: 'RaleWay', sans-serif;
	color: rgb(230, 220, 220);
	margin: 0 10px 0 10px;
}

/*nav hover*/
.site-nav a:hover{
	font-family: 'RaleWay', sans-serif;
	color: rgb(255, 253, 253);
	border-bottom: 5px solid rgb(255, 255, 250);
	padding-bottom: 22px;
}

/*白色部分介紹助動詞*/
.introduction{
	background-color: rgba(255, 255, 255, 0.5);
	margin-top: 0;
	height: 700px;
}
.intro_title{
	width: 40%;
	border-bottom: 8px solid rgba(180, 100, 90, 1);
	margin: 0;
}

h3{ /*字*/
	font-size: 35px;
	color: black;
	padding: 40px 0 20px 0;
	margin: auto;
}

.pic-right{
	width: 50%;
	margin: 50px 0;
	float: right;
}


/*have 白色那條*/
.have{
	background-color: white;
}

h4{
	margin: 0;
}

	